/* *{color: yellow;

} */


 /* 2. */
 /* span{
    color: red;
 } */
  /* h1, span{
    color: red;
  } */
   

   /* 3. */ 
   /* .Class{
    color: red;
   } */

   /* 4. */
   /* #id{
    color:green;
   } */


   /* 5. */
   /* span > p {
    color: red;
   } */

   /* 6. */
   div p{
    color: red;
   }
